PORT="3000"
MONGO_URI="mongodb://user:password@host:27017/dbname"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
OPENAI_API_KEY="sk-..."
MODEL="OPENAI"
openai_model="gpt-4o-mini"
GEMINI_API_KEY="your_gemini_api_key"
GROQ_API_KEY="gsk_..."
MSG91_TOKEN="your_msg91_token"
WHATSAPP_INTEGRATED_NUMBER="91XXXXXXXXXX"
